<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="SU.appSettings" type="System.Configuration.NameValueFileSectionHandler" />
	</configSections>
	<SU.appSettings>
		<add key="Port" value="COM3" />
		<add key="Message" value="06" />
	</SU.appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
